{% extends 'base.html.twig' %}

{% block title %}BankCart{% endblock %}

{% block body %}
    <h1>BankCart</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bank_cart.id }}</td>
            </tr>
            <tr>
                <th>Accountnr</th>
                <td>{{ bank_cart.accountnr }}</td>
            </tr>
            <tr>
                <th>Bank</th>
                <td>{{ bank_cart.bank }}</td>
            </tr>
            <tr>
                <th>Cardnr</th>
                <td>{{ bank_cart.cardnr }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bank_cart_index') }}">back to list</a>

    <a href="{{ path('bank_cart_edit', {'id': bank_cart.id}) }}">edit</a>

    {{ include('bank_cart/_delete_form.html.twig') }}
{% endblock %}
