{% extends 'base.html.twig' %}

{% block title %}Tijden{% endblock %}

{% block body %}
    <h1>Tijden</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tijden.id }}</td>
            </tr>
            <tr>
                <th>Dag</th>
                <td>{{ tijden.dag }}</td>
            </tr>
            <tr>
                <th>Begintijd</th>
                <td>{{ tijden.begintijd ? tijden.begintijd|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Eindtijd</th>
                <td>{{ tijden.eindtijd ? tijden.eindtijd|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tijden_index') }}">back to list</a>

    <a href="{{ path('tijden_edit', {'id': tijden.id}) }}">edit</a>

    {{ include('tijden/_delete_form.html.twig') }}
{% endblock %}
