{% extends 'base.html.twig' %}

{% block title %}Reservatie{% endblock %}

{% block body %}
    <h1>Reservatie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservatie.id }}</td>
            </tr>
            <tr>
                <th>DatumTijd</th>
                <td>{{ reservatie.datumTijd |date('d-m-Y H:i')}}</td>
            </tr>
            <tr>
                <th>Aantal</th>
                <td>{{ reservatie.aantal }}</td>
            </tr>
            <tr>
                <th>Tafel(s)</th>
                <td>{{ reservatie.tafel| join (',') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservatie_index') }}">back to list</a>

    <a href="{{ path('reservatie_edit', {'id': reservatie.id}) }}">edit</a>

    {{ include('reservatie/_delete_form.html.twig') }}
{% endblock %}
